# You must add NUXT_ before the name of your api key

NUXT_RUBY_API_BASE_URL=

NUXT_OPEN_AI_API_KEY=

NUXT_OPUS_API_KEY=

NUXT_NEON_API_KEY=

NUXT_QDRANT_API_KEY=

NUXT_PUBLIC_API_BASE=http://localhost:3000